.TrumpImageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.TrumpImageContainer .TrumpHair {
  position: absolute;
  background-image: url(./hair.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  width: 383px;
  height: 320px;
  bottom: 281px;
  margin-left: 14px;
}

.TrumpImageContainer .TrumpHairAnimated {
  position: absolute;
  background-image: url(./hair.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  width: 383px;
  height: 320px;
  bottom: 281px;
  margin-left: 14px;

  animation: hairAnim 1s infinite;
  transition-timing-function: ease-in;
}

@keyframes hairAnim {
  0% {
    bottom: 281px;
  }
  50% {
    bottom: 300px;
  }
}

.TrumpImageContainer .TrumpBody {
  width: 400px;
  height: 400px;
  background-image: url(./trumps.png);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: -400px 0;
  z-index: 1;
}

.TrumpImageContainer .TrumpEyes {
  width: 100px;
  height: 50px;
  position: absolute;
  background: white;
  bottom: 330px;
  margin-left: 20px
}

.TrumpImageContainer .BaneMask {
  background-image: url(./bane-mask.png);
  width: 127px;
  height: 222px;
  position: absolute;
  background-size: 100% 100%;
  z-index: 3;
  bottom: 220px;
  margin-left: 22px;
}
