.App {
  border: black solid 2px;
}

.TrumpContent {
  text-align: center;
  border: blue solid 2px;
}

header {
  border: green solid 2px;
  text-align: center;
}

footer {
  border: red solid 2px;
}

* {
  cursor: url(//b.thumbs.redditmedia.com/SmMfIhXtlxDYRZYydbzCSIf9SLig4zn-zmOZBrPJ_oQ.png), default!important;
}
